[user]
	name = mancuoj
	email = 1337381768@qq.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[hub]
	protocol = https
[core]
	editor = code --wait
