[user]
	name = mancuoj
	email = mancuoj@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = code --wait
[hub]
	protocol = https
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
